[submodule "tb/tue"]
	path = tb/tue
	url = https://github.com/taichi-ishitani/tue.git
[submodule "tb/tvip-common"]
	path = tb/tvip-common
	url = https://github.com/taichi-ishitani/tvip-common.git
[submodule "test/riscv/riscv-tests"]
	path = test/riscv/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
