# Common
*.log

# VCS
*.vpd
*.fsdb
.inter.vpd.uvm
.restartSimSession.tcl.old
.synopsys_dve_rebuild.tcl
*.f
csrc
DVEfiles
simv*
ucli.key
vc_hdrs.h
novas.*
verdiLog

# cosim
**/sim_binary/cosim
whisper_connect

# riscv-tests
*.bin
*.dump
*.elf

# Veryl
.build
dependencies
target
**/sim_binary/*.list.rb
