# Common
*.log

# VCS
*.vpd
*.fsdb
.inter.vpd.uvm
.restartSimSession.tcl.old
.synopsys_dve_rebuild.tcl
compile.f
csrc
DVEfiles
simv*
ucli.key
vc_hdrs.h

# cosim
**/sim_binary/cosim
whisper_connect

# riscv-tests
*.bin
*.dump
*.elf
